<div class="container">
  <header >
    <button (click)="randomValue()">Random Rate All Items</button><button id="random" (click)="randomUnit()">Random Element Rate</button><button (click)="orderItems(cards)">Order all items</button>
   </header>
  
  <main >
    <div class = "cards">
      <div *ngFor = "let card of cards" >
        <div class="badge"> Film: {{card.name| uppercase}}  <span class="puntuation"> Stars: {{card.rating }}  </span> <button (click)="reduceStar(card)">-</button>  <button (click)="addStar(card)">+</button></div>
       </div>
  </div>
  </main>
</div>